<h6><%= @training.title %></h6>
<p><%= @training.description %></p>
<p><%= @training.title_address %></p>

<td><%= link_to 'Destroy', @training, :confirm => 'Are you sure?',
                                     :method => :delete %></td>
